section.get
    h3 Pet Info
    div
      for item in items
        article.item
          div Name: #{item.name}
          div Breed: #{item.breed}
          div Gender: #{item.gender}
          div Date of Birth: #{item.dob}
          div Color: #{item.color}
          div
              a(href="deletebtn/#{item._id}") delete
    
    //- h3 Event Info
    //- div
    //-   for event0 in event0s
    //-     article.event0
    //-       div Title: #{event0.title}
    //-       div Start Time: #{event0.starttime}
    //-       div End Time: #{event0.endtime}          
