section.get
    h3 Data
    div
      for item in items
        article.item
          div Name: #{item.name}
          div Breed: #{item.breed}
          div Gender: #{item.gender}
          div Date of Birth: #{item.dob}
          div Color: #{item.color}
          div
              
